html {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  min-height: 100%;
}

#menu .menu-item, .top-token, #list, #token, #base, #base_change, #base_change img, #swapper_switch, #chart, input, select {
  background-color: #FFFE;
}

#top, #top-title {
  background-color: #0002;
}

.green {
  color: mediumseagreen;
}
.red {
  color: tomato;
}

.color-transition {
  transition: color 750ms ease-in-out, background-colo 750ms ease-in-out;
}
