html {
  background-image: url('/graph-background-min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  min-height: 100%;
}

#menu .menu-item, .top-token, #list, #token, #base, #base_change, #base_change img, #swapper_switch, #chart, input {
  background-color: #FFFE;
}

#top, #top-title {
  background-color: #0000001F;
}

.green {
  color: mediumseagreen;
}
.red {
  color: tomato;
}
