
/* Common */
input,
select,
button {
  background-color: #ffffffdd;
  color: #000000dd;
}

/* Gas */
.gas-list li {
  background-color: #ffffffdd;
  color: #000000dd;
}

/* Charts */
.top-token,
.favorite-token,
.list,
#token,
#base,
#base_change,
#base_change img,
#swapper_switch,
#chart {
  background-color: #ffffffdd;
  color: #000000dd;
}

/* Wallet */
.wallet-information,
#wallet ul li,
#connect-wallet,
.pie-charts-container,
.filter-by-network-item {
  background-color: #ffffffdd;
  color: #000000dd;
}

/* News */
.main > h1,
.back-button,
.entry {
  background-color: #ffffffdd;
  color: #000000dd;
}

/* 404 */
#body-404 a {
  background-color: #ffffffdd;
  color: #000000dd;
}

#top,
#favorites,
#top-title,
#wallet .loading-message,
.wallet-menu,
#wallet ul,
.gas-container {
  background-color: #00000022;
}

.green {
  color: mediumseagreen;
}

.red {
  color: tomato;
}

.border-bottom {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1em;
}

.border-info {
  border-color: mediumslateblue;
}

.border-error {
  border-color: palevioletred;
}

.shadow-white {
  background-color: #ffffffdd;
  box-shadow: 0 0 16px 12px white;
}

.color-transition {
  transition: color 750ms ease-in-out, background-color 750ms ease-in-out, border-color 750ms ease-in-out;
}
