body {
  font-family: Sans-Serif;
}

#header {
  display: flex;
  align-items: baseline;
}

header {
  display: inline-flex;
  align-items: baseline;
}
header .version {
  font-style: italic;
  margin-left: 0.5em;
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

#menu {
  display: inline-flex;
  flex: auto;
}
#menu .menu-item {
  flex-grow: 1;
  cursor: pointer;
  margin: 0 5%;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px white solid;
}
#menu .menu-item:hover {
  border-bottom: 1px lightgray solid;
}

.flex-column {
  display: flex;
  flex: auto;
  flex-flow: column;
  max-width: 100%;
}

#flex-main {
  display: flex;
}

#flex-pair {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: auto;
}


#top {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.top-token {
  display: flex;
  flex-wrap: wrap;
  flex: 25%;

  border: 1px solid #CCC;
  border-radius: 12px;
  cursor: pointer;
}
.top-token:hover {
  box-shadow: 1px 1px 12px #BBB;
}
.top-symbol {
  flex: 60%;
}
.top-price {
  flex: 50%;
  text-align: end;
}


#search_field {
  border: 1px solid #CCC;
  border-radius: 12px;
}

#list {
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #CCC;
  border-radius: 12px;
}
#list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#list li {
  cursor: pointer;
  border-radius: 12px;
}
#list li:hover {
  background-color: #EFEFEF;
}


#token, #base {
  display: inline-flex;
  flex: 40%;
  flex-wrap: wrap;
  border: 1px solid #CCC;
  border-radius: 12px;
}

#token #token_symbol,
#token #token_name,
#token #token_price,
#token #token_price_BNB,
#base #base_symbol,
#base #base_select,
#base #base_name,
#base #base_price,
#base #base_price_BNB {
  display: inline-block;

}
#token #token_symbol,
#token #token_name,
#token #token_address,
#token #token_price,
#token #token_price_BNB,
#base #base_symbol,
#base #base_select,
#base #base_name,
#base #base_address,
#base #base_price,
#base #base_price_BNB {
  flex: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 12px;
  display: flex;
  align-items: end;
}
#token #token_symbol,
#token #token_price,
#base #base_symbol,
#base #base_select,
#base #base_price {
  font-size: larger;
}
#token #token_address,
#token #token_price,
#base #base_address,
#base #base_price {
  flex: initial;
}
#token #token_price,
#token #token_price_BNB,
#base #base_price,
#base #base_price_BNB {
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}
#token #token_address,
#token #token_price_BNB,
#base #base_address,
#base #base_price_BNB {
  font-size: 0.85em;
}

#token #token_price_BNB,
#base #base_price_BNB {
  display: none;
}

#base #base_change {
  border-radius: 12px;
  width: 28px;
  height: 28px;
  padding: 8px;
  margin: 0;
  border: none;
  background-color: white;
  transition: padding 80ms ease-in-out;
  z-index: 1;
  cursor: pointer;
}
#base #base_change:hover {
  padding: 6px;
}
#base #base_change:active {
  background-color: whitesmoke;
}
#base #base_change img {
  width: 100%;
  background: white;
}
#base #base_change:active img {
  background: whitesmoke;
}

#base #base_symbol {
  padding: 3px;
}
#base #base_select {
  display: none;
  font-size: 0.85em;
  cursor: pointer;
}

#chart {
  border: 1px solid #CCC;
  border-radius: 12px;
  width: auto;
}
#myChart {
  max-width: 100%;
  max-height: 100%;
}
#source {
  color: grey;
  text-align: end;
  font-style: italic;
  font-size: 0.8rem;
}

#swapper_token, #swapper_base {
  border: 1px solid #CCC;
  border-radius: 12px;
  max-width: 120px;
  text-align: center;
  flex: auto;
}
#swapper_token_symbol, #swapper_base_symbol {
  margin: 0.25em;
}

#swapper_switch {
  border-radius: 12px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 4px;
  transition: padding 80ms ease-in-out;
}
#swapper_switch:hover {
  border-color: lightgray;
  padding: 2px;
}
#swapper_switch:active {
  background-color: whitesmoke;
}
#swapper_switch img {
  width: 100%;
}
