body {
  display: block !important;
  font-family: Sans-Serif;
}

#body-background {
    opacity: 0.4;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    z-index: -1;
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}
a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #000;
  transition: all 150ms ease-in-out;
}

#header {
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;
}
#title {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
#title:hover {
  opacity: 0.6;
}

header h1 {
  display: inline-flex;
  align-items: baseline;
}
header .version {
  font-style: italic;
  margin-left: 0.5em;
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

#menu {
  display: inline-flex;
  flex: auto;
}
#menu .menu-item {
  flex-grow: 1;
  cursor: pointer;
  margin: 0 5%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 12px #AAAE;
  transition: all 150ms ease-in-out;
}
#menu .menu-item:hover {
  box-shadow: 0px 0px 12px #888E;
}
#menu .menu-item h2 {
  padding: 12px 9px 9px;
}

.flex-column {
  display: flex;
  flex: auto;
  flex-flow: column;
  max-width: 100%;
}

#flex-main {
  display: flex;
  margin-top: 2em;
}

.flex-pair {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: auto;
}

#dex-selection {
  margin: 12px;
  display: flex;
  align-items: center;
}
.dex-selection-img-container {
  display: inline-flex;
  flex: auto;
  align-items: center;
  justify-content: end;
  padding-right: 1em;
}
.dex-selection-img-container img {
  height: 100%;
}
#dex-selector {
  border: none;
  padding: 0.25em;
  outline: none;
}

#top {
  margin: auto;
  max-width: 1024px;
  border-radius: 12px;
  padding: 4px;
  transition: all 500ms ease-in-out;
}
#top::after {
  content: "";
  clear: both;
  display: table;
}
.top-column {
  float: left;
  width: 33.3%;
}
.top-token {
  margin: 4px;

  border: 1px solid #CCC;
  border-radius: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
}
.top-token:hover {
  box-shadow: 1px 1px 12px #BBB;
}
.top-symbol {
  display: inline-flex;
  width: 40%;
}
.top-price, .top-percentage {
  display: inline-flex;
  width: 25%;
}
.top-chart {
  width: 48px;
  height: 32px;
}


#search_field {
  border: 1px solid #CCC;
  border-radius: 12px;
}

#list {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #CCC;
  border-radius: 12px;
  transition: all 500ms ease-in-out;
}
#list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#list li {
  cursor: pointer;
  border-radius: 12px;
  margin: 2px;
}
#list li:hover {
  background-color: #EFEFEF;
}

#list button.load-more {
  border: 3px solid #EFEFEF;
  border-radius: 12px;
  padding: 6px 12px;
  width: 100%;
  max-width: 140px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 1em;
}
#list button.load-more:hover {
  background-color: #EFEFEF;
}


#token, #base {
  display: inline-flex;
  flex: 40%;
  flex-wrap: wrap;
  border: 1px solid #CCC;
  border-radius: 12px;
}

#token #token_symbol,
#token #token_name,
#token #token_price,
#token #token_price_BNB,
#base #base_symbol,
#base #base_select,
#base #base_name,
#base #base_price,
#base #base_price_BNB {
  display: inline-block;

}
#token #token_symbol,
#token #token_name,
#token #token_address,
#token #token_price,
#token #token_price_BNB,
#base #base_symbol,
#base #base_select,
#base #base_name,
#base #base_address,
#base #base_price,
#base #base_price_BNB {
  flex: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 12px;
  display: flex;
  align-items: end;
}
#token #token_symbol,
#token #token_price,
#base #base_symbol,
#base #base_select,
#base #base_price {
  font-size: larger;
}
#token #token_address,
#token #token_price,
#base #base_address,
#base #base_price {
  flex: initial;
}
#token #token_price,
#token #token_price_BNB,
#base #base_price,
#base #base_price_BNB {
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}
#token #token_address,
#token #token_price_BNB,
#base #base_address,
#base #base_price_BNB {
  font-size: 0.85em;
}

#token #token_price_BNB,
#base #base_price_BNB {
  display: none;
}

#base #base_change {
  border-radius: 12px;
  width: 28px;
  height: 28px;
  padding: 8px;
  margin: 0;
  border: none;
  transition: padding 80ms ease-in-out;
  z-index: 1;
  cursor: pointer;
}
#base #base_change:hover {
  padding: 6px;
}
#base #base_change:active {
}
#base #base_change img {
  height: auto;
  width: 100%;
}
#base #base_change:active img {
}

#base #base_symbol {
  padding: 3px;
}
#base #base_select {
  display: none;
  font-size: 0.85em;
  cursor: pointer;
}

#chart {
  border: 1px solid #CCC;
  border-radius: 12px;
  width: auto;
}
#timeframe {
  display: inline-flex;
}
#timeframe .timeframe-choice {
  cursor: pointer;
  font-size: small;
  margin: 0.5em;
  border: 1px solid #CCC;
  border-radius: 8px;
  padding: 0.25em 0.5em;
}
#timeframe .timeframe-choice:hover {
  box-shadow: 1px 1px 8px #BBB;
}
#myChart {
  width: 100%;
  max-width: 95%;
  max-height: 85%;
  margin: auto;
}
#source {
  color: grey;
  text-align: end;
  font-style: italic;
  font-size: 0.8rem;
}

#swapper_token, #swapper_base {
  border: 1px solid #CCC;
  border-radius: 12px;
  max-width: 120px;
  text-align: center;
  flex: auto;
}
#swapper_token_symbol, #swapper_base_symbol {
  margin: 0.25em;
}

#swapper_switch {
  cursor: pointer;
  border-radius: 12px;
  width: 32px;
  height: 32px;
  border: none;
  display: flex;
  align-items: center;
  padding: 4px;
  transition: padding 80ms ease-in-out;
}
#swapper_switch:hover {
  padding: 2px;
}
#swapper_switch:active {
}
#swapper_switch img {
  height: auto;
  width: 100%;
}
