@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gas {
  width: max-content;
  max-width: 95%;
  margin-left: 24px;
  margin-bottom: 1em;
}

.gas .gas-title {
  font-size: .75em;
  font-weight: lighter;
  margin-left: 8px;
}

.gas-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border-radius: 10px;
  padding: 1px 1px 1px 6px;
  max-width: 100%;
}

.gas-container .gas-icon {
  display: flex;
  margin-left: 3px;
  margin-right: 6px;
}

.gas-container .realtime-icon {
  display: flex;
  margin-left: 6px;
  margin-right: 3px;
}

.gas-container .realtime-icon img {
  transition: all 250ms ease-in-out;
}

.gas-container .realtime-icon.active img {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 50%;
}

.gas-container .realtime-icon:hover img {
  transform: rotate(180deg);
}

ul.gas-list {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
  min-height: 26px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gas-list li {
  border-radius: 8px;
  padding: 3px;
  margin: 3px;
  display: flex;
  align-items: center;
  min-width: 32px;
  min-height: 20px;
}

.gas-list li span {
  height: 14px;
}

.gas-list li span.gas-network {
  display: flex;
  align-items: center;
}

.gas-list li span.gas-value {
  padding: 1px 3px;
  font-size: 12px;
  line-height: 12px;
}

.gas-list li img {
  width: auto;
  height: 100%;
  margin: 0 2px 0 4px;
}

@media (max-width: 800px) {
  .gas {
    margin-left: 16px;
  }
}

@media (max-width: 460px) {
  .gas {
    margin: 1em auto;
  }
}
