.gas-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: 24px;
  margin-bottom: 1em;
  background-color: #EEEE;
  border-radius: 10px;
  padding: 1px 1px 1px 6px;
}
.gas-container .gas-icon {
  height: 1em;
  margin-left: 3px;
  margin-right: 6px;
}
.gas-container .gas-icon img {
  height: 100%;
}
ul.gas-list {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
}
.gas-list li {
  background-color: #FFFE;
  border-radius: 8px;
  padding: 3px;
  margin: 3px;
  height: 1em;
  display: flex;
  align-items: center;
  min-width: 32px;
}
.gas-list li span {
  height: 100%;
}
.gas-list li span.gas-network {
  padding: 0 3px;
  text-align: right;
}
.gas-list li span.gas-value {
  padding: 1px 3px;
  display: inline-flex;
  align-items: baseline;
  line-height: 1.2em;
}
.gas-list li img {
  max-width: 2em;
  max-height: 100%;
  width: auto;
  height: 100%;
}

@media (max-width: 800px) {
  .gas-list li span.gas-value {
    font-size: 0.9em;
    line-height: 1.25em;
  }
}

@media (max-width: 460px) {
  .gas-list li span.gas-value {
    font-size: 0.8em;
    line-height: 1.3em;
  }
}
