.gas-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-left: 24px;
  margin-bottom: 1em;
  border-radius: 10px;
  padding: 1px 1px 1px 6px;
}
.gas-container .gas-icon {
  height: 1em;
  margin-left: 3px;
  margin-right: 6px;
}
.gas-container .gas-icon img {
  height: 100%;
}
ul.gas-list {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
}
.gas-list li {
  border-radius: 8px;
  padding: 3px;
  margin: 3px;
  display: flex;
  align-items: center;
  min-width: 32px;
  min-height: 20px;
}
.gas-list li span {
  height: 14px;
}
.gas-list li span.gas-network {
  display: flex;
  padding: 1px 3px;
}
.gas-list li span.gas-value {
  padding: 1px 3px;
  font-size: 12px;
  line-height: 12px;
}
.gas-list li img {
  max-width: 2em;
  width: auto;
  height: 12px;
}

@media (max-width: 800px) {
  .gas-container {
    margin-left: 16px;
  }
}

@media (max-width: 460px) {
  .gas-container {
    margin-left: 12px;
  }
}
