
#header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  flex-wrap: wrap;
}
#title {
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}
#title:hover {
  opacity: 0.6;
}
header {
  flex: auto;
  font-size: 3rem;
  padding: 12px 24px;
  transition: all 1s ease-in-out;
}
header h1 {
  display: inline-block;
  background: linear-gradient(-45deg, yellow, lightseagreen);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #0001 3px 3px 3px;
}
header .version {
  font-style: italic;
  font-size: 0.5em;
  background: linear-gradient(45deg, yellow, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .version .low {
  font-size: 0.5em;
  margin-right: 0.5em;
}
#menu {
  display: inline-flex;
  flex: 2 auto;
  font-size: 1.2rem;
  padding: 12px 24px;
}
#menu .menu-item {
  flex-grow: 1;
  cursor: pointer;
  margin: 0 2%;
  max-width: 250px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 12px #AAAE;
  transition: box-shadow 150ms ease-in-out;
}
#menu .menu-item#menu-news {
  flex-grow: 0.15;
}
#menu .menu-item:hover {
  box-shadow: 0px 0px 12px #888E;
}
#menu .menu-item h2 {
  padding: 12px 9px 9px;
}
#menu .menu-item#menu-news h2 {
  padding: 12px 0 9px;
}
#menu .menu-item .low {
  font-size: 0.6em;
}




@media (max-width: 800px) {
  header {
    font-size: 2rem;
    padding: 8px 16px;
  }
  #menu {
    padding: 6px 12px;
    width: 75%;
  }
}

@media (max-width: 460px) {
  header {
    font-size: 1.5rem;
    padding: 6px 12px;
  }
  #menu {
    padding: 3px 6px;
    width: 95%;
  }
  #menu .menu-item h2 {
    padding: 9px 9px 6px;
  }
  #menu .menu-item#menu-news h2 {
    padding: 9px 0 6px;
  }
}
