
* {
  transition: none;
}

.body-background {
  background-image: url('/img/background-multichain.svg');
}

header {
  width: 100%;
  text-align: center;
  padding: max(32px, 4vh);
  font-size: max(48px, 8vh);
  display: inline-block;
  background: linear-gradient(-45deg, yellow, lightseagreen);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #00000011 3px 3px 3px;
}

header .version {
  font-style: italic;
  font-size: .5em;
  background: linear-gradient(45deg, yellow, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  max-width: min(1200px, 95%);
  margin: 128px auto;
  padding: min(48px, 4vh);
  border-radius: 24px;
}

section.supported-blockchains {
  max-width: min(920px, 95%);
  background-color: #ffe9e9e3;
  text-align: center;
  border-radius: 50%;
  padding: 48px;
}

section.section-charts {
  background-color: #e4e4fbcc; /* lavender */
}

section.section-wallet {
  background-color: #f9ddaccc; /* moccasin */
}

section.section-news {
  background-color: #bfffbfcc; /* light palegreen */
}

h2 {
  text-align: center;
  font-size: max(32px, 4vh);
  text-transform: capitalize;
  color: #000000cc;
  margin-bottom: 24px;
}

h3 {
  text-align: center;
  font-size: max(24px, 3vh);
  text-transform: capitalize;
  margin-bottom: 24px;
}

section.supported-blockchains ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  justify-content: center;
  padding: 0;
  margin: auto;
}

section.supported-blockchains ul li {
  display: flex;
  align-items: center;
  padding: 12px 24px 12px 18px;
  border: 1px solid #cccccc;
  border-radius: 32px;
  margin: 12px 24px;
  background-color: #ffffffdd;
}

section.supported-blockchains ul li img {
  margin-right: 12px;
}

.content-illustration {
  display: flex;
  align-items: center;
}

.content {
  width: 60%;
  font-size: 1.2em;
  padding: 24px 5%;
  display: flex;
  flex-flow: column;
}

.content ul {
  list-style: circle;
  padding: 24px 0;
  margin: 0;
}

.content ul li {
  margin: 12px 0;
}

.content .go-to-container {
  display: inline-flex;
  align-items: center;
}

.content a.GoTo {
  align-self: flex-end;
  padding: 12px 24px;
  border: 1px solid #cccccc;
  border-radius: 12px;
  background-color: #ffffffdd;
  transition: all 75ms ease-in-out;
}

section.section-wallet .content a.GoTo {
  align-self: flex-start;
}
section.section-wallet .content a.GoToDemoLink {
  font-size: .75em;
  margin-left: 1em;
}

.content a.GoTo:hover {
  box-shadow: 0 0 24px 12px #ffffffdd;
}

.illustration {
  width: 40%;
}

.illustration img {
  width: 100%;
  height: auto;
}

.in-between-illustration {
  text-align: center;
}

.in-between-illustration img {
  width: min(360px, 75%);
  opacity: 80%;
}

@media (max-width: 840px) {
  section {
    margin: 72px auto;
  }

  .content-illustration {
    flex-flow: column;
  }

  .content,
  .illustration {
    width: min(100%, 540px);
  }

  .illustration img {
    max-height: 40vh;
  }
}

@media (max-width: 460px) {
  section {
    margin: 64px auto;
  }

  section.supported-blockchains ul li {
    margin: 6px;
    padding: 6px 12px 6px 9px;
  }

  section.section-charts .content,
  section.section-news .content {
    padding: 0 5% 24px;
  }

  section.section-charts .content ul,
  section.section-news .content ul {
    padding: 12px 0 24px;
  }
}
