body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.body-background {
  background-image: url('/img/background-multichain.svg');
}

.main {
  flex: auto;
  margin: 24px auto;
  max-width: 800px;
  width: 100%;
}

.main .main-title {
  border-radius: 12px;
  display: inline-block;
  font-size: 1.6em;
  font-weight: lighter;
  padding: 12px;
}

.back-button {
  border: 1px solid #cccccc;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 24px;
  padding: 6px 12px;
  transition: all 250ms ease-in-out;
}

.back-button:hover {
  box-shadow: 0 0 12px #888888ee;
}

.items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 25vh;
}

.entry {
  border: 1px solid #cccccc;
  border-radius: 12px;
  margin: 1em auto;
  padding: 1em;
  width: 100%;
}

.entry.condensed {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.entry.condensed:hover {
  box-shadow: 0 0 12px #888888ee;
}

.entry h1 {
  font-size: 1.4em;
  padding: 6px 0;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-align: center;
}

.entry.condensed h1 {
  font-size: 1.2em;
  padding: 6px 0 0;
  text-decoration: none;
}

.entry h2 {
  font-size: 1.2em;
  padding: 3px 0;
}

.entry h3 {
  font-size: 1.1em;
}

.timestamp {
  font-size: .8em;
}

.content {
  line-height: 1.25em;
  text-align: justify;
  /*text-indent: 12px;*/
}

.content a {
  text-decoration-line: underline;
}

.chapter-title {
  font-style: italic;
  margin: 6px auto;
}

ul.tags {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tags li {
  font-size: .8em;
  border: 1px solid #cccccc;
  border-radius: 24px;
  margin: 24px 6px 0 0;
  padding: 6px 12px;
  text-transform: capitalize;
}

.link-to-feed {
  text-align: center;
}

.link-to-feed a {
  align-items: center;
  display: inline-flex;
  font-size: .9em;
}

.link-to-feed a img {
  height: .9em;
  margin-right: 6px;
}

@media (max-width: 800px) {
  .main {
    max-width: calc(100% - 24px);
    font-size: .8em;
  }
}


/* utils */

.flex-align {
  display: inline-flex;
  align-items: center;
}

.margin-right {
  margin-right: 6px;
}
