body {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
header {
  font-size: 3rem;
  padding: 12px 24px;
}
header .version {
  font-size: 0.5em;
}
header .version .low {
  font-size: 0.5em;
  margin-right: 0.5em;
}
#menu {
  font-size: 1.2rem;
  padding: 12px 24px;
}
#menu .menu-item {

}
#menu .menu-item .low {
  font-size: 0.6em;
}
.left-menu {
  width: 25%;
  min-width: 12em;
  max-width: 16em;
  font-size: 0.8em;
  text-align: center;
}
#top {
  font-size: 0.85em;
}
.top-token {
  margin: 1em;
  padding: 0.5em 1em;
}
#search_field {
  margin: 0.5em 1em;
  padding: 1em;
}
#search_field {
  font-size: initial;
}
#list {
  margin: 0.5em 1em;
  padding: 1em;
}
#list li {
  padding: 6px 12px;
}
#token, #base {
  margin: 0.5em 1em;
  padding: 12px;
}
#chart {
  margin: 0.5em 1em 1em;
  padding: 1em;
  max-height: 40vh;
}
#source {
  margin-top: 2em;
}
#swapper_token, #swapper_base {
  width: 30%;
  margin: 1em;
  padding: 0.5em 1em;
  font-size: 1.25em;
}


@media (max-width: 800px) {
  html {
    font-size: 0.9em;
  }
  header {
    font-size: 2rem;
    padding: 8px 16px;
  }
  #menu {
    padding: 6px 12px;
    width: 75%;
  }
  .top-token {
    margin: 0.5em;
    padding: 0.5em;
  }
  #search_field {
    margin: 0.25em 0.5em;
    padding: 0.5em 1em;
  }
  #list {
    margin: 0.25em 0.5em;
    padding: 0.5em;
  }
  #list li {
    padding: 8px;
  }
  #token, #base {
    margin: 0.25em 0.5em;
    padding: 8px;
  }
  #chart {
    margin: 0.25em 0.5em 1em;
    padding: 0.5em;
    max-height: 45vh;
  }
  #source {
    margin-top: 1.25em;
  }
  #swapper_token, #swapper_base {
    margin: 0.5em;
    padding: 0.25em 0.5em;
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 0.8em;
  }
  header {
    font-size: 1.5rem;
    padding: 6px 12px;
  }
  #menu {
    padding: 3px 6px;
    width: 95%;
  }
  #top {
    flex-wrap: wrap;
  }
  .top-token {
    margin: 0.25em;
    padding: 0.25em 0.75em;
  }
  #flex-main {
    flex-wrap: wrap;
  }
  .left-menu {
    width: 100%;
    max-width: none;
  }
  #search_field {
    margin: 0.1em 0.25em;
    padding: 0.25em 1em;
  }
  #list {
    margin: 0.1em 0.25em;
    padding: 0.25em;
    max-height: 14vh;
  }
  #list li {
    display: inline-flex;
    padding: 10px;
  }
  #token, #base {
    margin: 0.1em 0.25em;
    padding: 4px;
  }
  #chart {
    margin: 0.1em 0.25em 1em;
    padding: 0.25em;
    max-height: 50vh;
  }
  #source {
    margin-top: 0.5em;
  }
  #swapper_token, #swapper_base {
    margin: 0.25em;
    padding: 0.1em 0.25em;
    font-size: 1.1em;
  }
}
