
#input-wallet-container {
  text-align: center;
  margin-top: 0;
  width: 100%;
  transition: all 1250ms ease-in-out;
}
#input-wallet-container.margin-top {
  margin-top: 20vh;
}

#input-wallet {
  border: 1px solid #CCC;
  border-radius: 12px;
  margin: 0.5em 1em;
  padding: 1em;
  width: 50%;
  transition: all 400ms ease-in-out;
  text-align: center;
}
#input-wallet-container.margin-top #input-wallet {
  font-size: initial;
}

#wallet {
  margin: auto;
}

#wallet ul {
  list-style: none;
  padding: 3px;
  background-color: #0000001F;
  border-radius: 12px;
}

#wallet ul li {
  padding: 0.5em 1em 0.5em 0.5em;
  background-color: #FFFE;
  margin: 0.25em;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 1.2em;
}

#wallet ul li span {
  display: inline-block;
}
#wallet ul li span.network {
  width: 10%;
  height: 100%;
}
#wallet ul li span.network img.network {
  height: 100%;
}
#wallet ul li span.symbol {
  text-align: center;
  width: 60%;
}
#wallet ul li span.balance {
  text-align: end;
  width: 30%;
}


/* Progress Bar */
.progress-container {
  height: 4px;
  width: 45%;
  margin: auto;
  border-radius: 4px;
  background: #000;
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;
  background: #ff4754;
  transition: width 0.4s ease-in-out;
}
