#wallet {
  width: 45%;
}


@media (max-width: 800px) {
  #input-wallet-container.margin-top #input-wallet {

  }
  #input-wallet {
    font-size: 0.9em;
    width: 80%;
    margin: 0.25em 0.5em;
    padding: 0.5em 1em;
  }
  
  #wallet {
    width: 75%;
  }
}

@media (max-width: 400px) {
  #input-wallet-container.margin-top #input-wallet {

  }
  #input-wallet {
    font-size: 0.75em;
    margin: 0.1em 0.25em;
    padding: 0.25em 1em;
  }
  
  #wallet {
    width: 95%;
  }
}
