* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif, Arial;
  transition: all 400ms ease-in-out;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0;
}

.body-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  bottom: 0;
  left: 0;
  opacity: .4;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: #000000;
}

.flex-auto {
  flex: auto;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .body-background {
    background-size: 75%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: .9em;
  }

  .body-background {
    background-size: 85%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: .8em;
  }

  .body-background {
    background-size: 95%;
  }
}
