.footer {
  margin: auto;
  text-align: center;
}

.footer a:hover {
  opacity: 0.75;
}

.link-with-img {
  display: inline-flex;
  align-items: flex-end;
  padding: 0.25em;
  margin: 0.75em;
}

.link-with-img img {
  margin-right: 8px;
  height: 20px;
}
