body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.body-background {
  background-image: url('/img/background-multichain.svg');
}

#main {
  flex: auto;
  width: 100%;
  max-width: 800px;
  margin: 24px auto;
}

#main > h1 {
  display: inline-block;
  padding: 12px;
  border-radius: 12px;
  font-size: 1.6em;
  font-weight: lighter;
}

button#back-button {
  cursor: pointer;
  margin-top: 24px;
  padding: 6px 12px;
  border: 1px solid #CCC;
  border-radius: 12px;
  transition: all 250ms ease-in-out;
}
button#back-button:hover {
  box-shadow: 0 0 12px #888E;
}

#items {
  min-height: 25vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

article {
  border: 1px solid #CCC;
  border-radius: 12px;
  padding: 1em;
  margin: 1em auto;
  width: 100%;
}
article.condensed {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
article.condensed:hover {
  box-shadow: 0 0 12px #888E;
}

article h1 {
  font-size: 1.4em;
  padding: 6px 0;
  text-decoration-line: underline;
  text-align: center;
}
article.condensed h1 {
  font-size: 1.2em;
  padding: 6px 0 0;
  text-decoration: none;
}
article h2 {
  font-size: 1.2em;
  padding: 3px 0;
}
article h3 {
  font-size: 1.1em;
}

.timestamp {
  font-size: 0.8em;
}

.content {
  text-align: justify;
  text-indent: 12px;
  line-height: 1.25em;
}
.content a {
  text-decoration-line: underline;
}
.chapter-title {
  font-style: italic;
  margin: 6px auto;
}
ul.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}
ul.tags li {
  border: 1px solid #CCC;
  border-radius: 8px;
  padding: 3px 6px;
  margin: 24px 6px 0 0;
}

#link-to-feed {
  text-align: center;
}
#link-to-feed a {
  display: inline-flex;
  align-items: center;
  font-size: 0.9em;
}
#link-to-feed a img {
  height: 0.9em;
  margin-right: 6px;
}

@media (max-width: 800px) {
  #main {
    max-width: calc(100% - 24px);
  }
}
