
#input-wallet {
  width: 40%;
}

#input-wallet-container.margin-top #input-wallet {
  width: 50%;
}

.wallet-information {
  padding: 1.5em;
}

.global .wallet-chart {
  width: 480px;
  height: 128px;
  margin-right: 3em;
}

.global .wallet-date-tooltip {
  font-size: .9em;
  line-height: 2em;
}

.global #wallet-value-tooltip {
  font-size: 1.2em;
}

.global #wallet-value {
  font-size: 1.8em;
}

#wallet,
.wallet-options {
  width: 60%;
  transition: all 750ms ease-in-out;
}

#wallet.nft {
  width: 80%;
}

@media (max-width: 800px) {
  #input-wallet {
    font-size: .9em;
    width: 80%;
    margin: .25em .5em;
    padding: .5em 1em;
  }

  #input-wallet-container.margin-top #input-wallet {
    width: 60%;
  }

  .wallet-information {
    padding: 1em;
  }

  .global .wallet-chart {
    width: 360px;
    height: 96px;
    margin-right: 2em;
  }

  .global .wallet-date-tooltip {
    font-size: .75em;
    line-height: 1em;
  }

  .global #wallet-value-tooltip {
    font-size: 1.1em;
  }

  .global #wallet-value {
    font-size: 1.5em;
  }

  #wallet,
  .wallet-options {
    width: 85%;
  }

  #wallet.nft {
    width: 90%;
  }

  #wallet.nft ul {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    padding: 6px;
  }

  #wallet ul li.expanded {
    height: min(192px, 25vh);
  }

  #wallet ul li.nft a.tokenURI img.preview {
    max-height: 256px;
  }
}

@media (max-width: 460px) {
  #input-wallet {
    font-size: .75em;
    width: 75%;
    margin: .1em .25em;
    padding: .25em 1em;
  }

  #input-wallet-container.margin-top #input-wallet {
    width: 85%;
  }

  .wallet-information {
    padding: .5em;
    width: 95%;
  }

  .global .wallet-chart {
    width: 240px;
    height: 64px;
    margin-right: 1em;
  }

  .global .wallet-date-tooltip {
    font-size: .6em;
    line-height: .6em;
  }

  .global #wallet-value-tooltip {
    font-size: 1em;
  }

  .global #wallet-value {
    font-size: 1.2em;
  }

  #wallet,
  .wallet-options {
    width: 92%;
  }

  #wallet.nft {
    width: 98%;
  }

  #wallet.nft ul {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: minmax(80px, auto);
  }

  #wallet ul li {
    height: 40px;
  }

  #wallet ul li.expanded {
    height: min(192px, 18vh);
  }

  #wallet ul li span.network {
    min-width: 24px;
  }
  
  #wallet ul li span.network img.network {
    width: 18px;
  }

  #wallet ul li.nft span.nameSymbol {
    padding: 0;
    width: 70%;
  }

  #wallet ul li.nft span.network {
    width: 24px;
  }
}
